body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board{
    height: 540px;
    width: 630px;
    background: linear-gradient(135deg, #ff5f6d, #ffc371);
    border: 5px solid rgb(255, 60, 60);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    height: 70px;
    width: 70px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid rgb(255, 60, 60);
}

.red-piece{
    background-color: red;
}

.yellow-piece{
    background-color: yellow;
}


